Package: raygate
Version: 2.2.7
Architecture: all
Maintainer: DT
Section: net
Priority: optional
Depends: xray-core, dnsmasq-full, ipset, iptables, curl, bind-dig, python3, python3-pip
Description: RayGate is TProxy gateway for Entware.
